@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f2f2f2;
  
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: #fff;
}


a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: fff;
  color: #000;
}

.nav-links a {
  color: #000;
}

/* LOGO */
.logo {
  font-size: 32px;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #fff;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* CHECKBOX HACK */

input[type=checkbox] {
  display: none;
} 

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

.homepage {
    display: flex;
    background: linear-gradient(180.43deg, rgba(0,0,0,0.60) 0%, rgba(0,0,0,0.80) 100%), url(https://rocketman.learnwagtail.com/media/images/spacex-OHOU-5UVIYQ-unsplash.2e16d0ba.fill-1600x800.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 740px;
    max-width: 100%;
}


.homepage .context {
  display: flex;
  height: 75%;
  z-index: 3;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 6.625em;
  color: white;
}

.homepage .context h1 {
    /* font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px; */
    margin: 3.125em 0;
    font-size: 3.75rem;
    letter-spacing: 2.88px;
    font-weight: 400;
}
.homepage .context p{
  margin: -4.5em 0;
  letter-spacing: 2px;
  font-size: 1.88rem;
  font-weight: 400;
}

.homepage .context .text {
    text-align:left;
    font-size: 3.125rem;
    margin-bottom: 1.875em;
    color: #fff;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  
}

  .btn {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.125rem;
    letter-spacing: 2px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 1em;
    text-align: center;
    border: 0px solid transparent;
  }
  
  
  .context a:hover {
    color: #fff;
    background: rgba(255,255,255,0.3);
  }
  
 
  .cards-container {
    padding-top: 5.7%;
    padding-bottom: 5.7%;
  }
  
  #text-abovecards {
    font-size: 1.875rem;
    text-align: center;
    font-weight: 300;
  }

   
  .content-box {
      
    height: 592px;
    margin: 0 1.25em;
    border: 2px solid #ccc;
    flex-basis: 42.5%;
    flex-shrink: 0;
    flex-grow: 1;
    text-align: center;

    
}

.content {
  padding:2.188em;
}

.content-image {
    width: 85%;
    height:330px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.content a {
  text-decoration: none;
  color: black;
  font-size: 1.625rem;
  font-weight: lighter;

}

.content p {
  padding: 0.5em;
}

.button {
  text-decoration-line: none;
  font-weight: 500;

}

.flexbox-1 {
  display: flex;
  flex-wrap: wrap;
}

.flexbox-3 {
  display: flex;
  flex-wrap: wrap;
  margin: 7.5em 1.125em;
  align-items: flex-end;
  
}
.flex-direction-left {
  flex-direction: row;
}

.image-section {
  flex-basis: 60%;
  flex-shrink: 0;
  flex-grow: 0;
  width: 60%;
  min-width: 60%;
  
}

.d-block {
  display: block;
}


.flexbox-3 img {
  width: 100%;
  height: auto;
}

.image-content {
  flex-basis: 30%;
  flex-shrink: 1;
  flex-grow: 0;
  width: 30%;
  min-width: 30%;
  padding: 3.125em;
  color: #fff;
  background-color: black;
  position: relative;
  

  
}

.image-position-left {
  left:-5em; 
  bottom:-5em;
}

.image-content h3 {
  font-weight: 800;
  font-size: 2.125rem;
}
.image-content p {
  font-weight: 300;
  font-size: 20.96;
  line-height: 1.43;
}

.flex-direction-right {
  flex-direction: row-reverse;
}

.image-position-right {
  right: -5em;
  bottom: -5em;
}


.container-2 {
  padding: 2.5em 0;
  text-align: center;
}

.container-2 p {
  font-size: 2rem;
  padding-bottom: 0.5em;
}

.btn-1{
  display: inline-block;
  text-transform: uppercase;
  height: 48px;
  width: 180px;
  font-size: 1.3rem;
  letter-spacing: 2px;
  cursor: pointer;
  background-color: #814ebf;
  color: white;
  text-decoration: none;
  padding-top: 0.5em;
}

.btn-1:hover {
  background-color: #7033bb;
}

.container-3 {
  margin: 3.75em 5em;
  text-align: center;
}



.container-3 h2 {
  font-size: 2rem;
  padding-bottom: 0.5em;
}

.container-3 p {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.flexbox-2 {
  display: flex;
  flex-wrap: wrap;
  background-color: #814ebf;
}

.detail-section {
  margin: 1em 1.25em;
  padding: 2.12em 3.125em;
  flex-basis: 68%;
  flex-shrink: 0;
  flex-grow: 0;
}

.detail-section h2 {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 0.5em;
}

.detail-section p {
  font-size: 1.5rem;
  color: white;
}

.contact-section {
  flex-basis: 20%;
  flex-shrink: 0;
  flex-grow: 0;
  box-sizing: border-box;
  margin: 7em 0 9em 2em;
}

footer {
background-color: black;
color: white;
}

.footer-content {
display: grid;
grid-template-columns: auto auto auto auto;
padding: 2em 5em;
}

.footer-link {
 padding-left: 3em;
}

.footer-link img {
padding-top: 1.5em;
padding-left: 1em;
}

.footer-link h5 {
padding-left: 1em;

}

.footer-link a {
text-decoration: none;
color: white;
}

.footer-link h4 {
color: #858585;
margin-bottom: 0.5em;
}

.footer-link p {
  margin-bottom: 0.5em;
}


@media (max-width:1215px){
   .nav-container-2 {
     display: grid;
     }
  }

@media(max-width:1035px) {
  .image-section {
    flex-basis: 100%;
    width: 100%;
    }

  .image-content {
    flex-basis: 100%;
    }  

  .image-position-left {
    left: 0;
    bottom: 0;
    }

.image-position-right {
    right: 0;
    bottom: 0;
    }

.flexbox-3{
    margin: 3rem 1.125rem;
    }

.container-2{
    padding: 0;
    }

.contact-section {
    flex-basis: 100%;
    margin: 0 0 1em 0; 
    text-align: center;  
    }

.detail-section {
    flex-basis: 100%;
    margin: 0;
    } 
  }

@media(max-width:957px) {
  .nav-flexbox {
    display: inline-block;
    }

  .footer-content {
    grid-template-columns: auto auto;
    }

  .container-1{
    padding: 1em;
    }
  }

@media(max-width:750px) {
  .flexbox-1 {
    flex-direction: column;
    }

  .content-box {
    margin: 1em 1.25em;
    }

  .background-image{
    padding: 2em 0 0 2em;
    }

  .background-content h1 {
    font-size: 2rem;
    }

  .background-content p {
    font-size: 1rem;
    }

  .detail-section p {
    font-size: 1rem;
    }

  .detail-section h2 {
    font-size: 1.5rem;
    }

  .container-3 {
    margin: 0;
    }
  }


@media (max-width :560px) {
  .footer-content {
    padding: 0;
    }

  .nav-flexbox {
    padding: 0;
    }

  .link-1, .link-2, .link-3 {
    margin-right: 0;
    }

  .detail-section p {
    font-size: 0;
    }

  .container-3 h2 {
    font-size: 1.5rem;
    }

  .container-2 p {
    font-size: 1.5rem;
    }
  }


@media screen and (max-width: 930px) {
    .navbar .all-links {
      position: fixed;
      left: -100%;
      width: 300px;
      display: flex;
      flex-direction: column;
      height: 75px;
      top: 80px;
      transition: left 0.3s ease;
    }

    .navbar .logo a {

      margin: -0.625em 0.625em;
    }
  
    .navbar #menu-toggler:checked~.all-links {
      left: 0;
    }
  
    .navbar .all-links li {
      font-size: 1.125rem;
    }
  
    .navbar #hamburger-btn {
      display: inline-block;
    
    }
  
    section > p {
      text-align: center;
    }
  
   
  
    .homepage .content h1 {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 0.625em;
    }
  
    .homepage .content .text {
      font-size: 17px;
    }
  
    .content a {
      font-size: 1.063rem;
      padding: 0.563em 1.25em;
    }
  
  }
  
  @media screen and (max-width: 560px) {
    section .cards .card {
      width: 100%;
      margin-bottom: 1.875em;
    }
  }
  
  /* APPLYING MEDIA QUERIES */
  @media (max-width: 768px) {
    .menu {
       display:none;
       position: absolute;
       background-color:#fff;
       right: 0;
       left: 0;
       text-align: center;
       padding: 16px 0;
     }
   
     .menu li:hover {
       display: inline-block;
       background-color:#fff;
       transition: 0.3s ease;
     }
   
     .menu li + li {
       margin-top: 12px;
     }
   
     input[type=checkbox]:checked ~ .menu {
       display: block;
     }
   
     .hamburger {
       display: block;
     }
 
   } 